/** CSS STYLE **/
* {
  box-sizing: border-box;
}

:root {
  --whtie: #fff;
  --white-semi-transparent: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --dark-semi-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #0185c5;
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url(../fonts/Neucha/Neucha-Regular.ttf);
}

body {
  /* background-image: url(../images/background.png); */

  /* background-color: sandybrown; */

  /* max-width: 1100px; */
  box-sizing: border-box;
  margin: auto;

  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;

  /* color: #2a2626; */

  /* margin: auto; */
}

p {
  margin: 0;
}

.title {
  position: relative;
}

main {
  /* background-color: skyblue; */
}

section::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

.no-before::before {
  content: none;
}

section {
  position: relative;
  /* z-index: 1; */

  padding-top: 100px;
  padding-bottom: 100px;

  overflow: hidden;

  background-color: #f5f4f0;
}

header section img {
  position: absolute;
  top: 55px;
  right: -100px;

  height: 525px;
}

.h1 {
  font-size: 72px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

.h2 {
  font-size: 60px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

.h3 {
  font-size: 34px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

.text-lineheight-1-2em {
  line-height: 1.2em;
}

.max-w-1110 {
  position: relative;

  max-width: 1110px;

  margin: auto;
}

.max-width-540 {
  max-width: 540px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-60 {
  margin-top: 60px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-30 {
  padding-bottom: 30px;
}

.col-count-2 {
  column-count: 2;
}

.mb-1em {
  margin-bottom: 1em;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-1em {
  margin-top: 1em;
}

.d-flex {
  display: flex;
}

.mr-30 {
  margin-right: 30px;
}

.mt-200 {
  margin-top: 200px;
}

.intro > p {
  margin-bottom: 1em;
  /* font-size: 16px; */
}

.intro button {
  font-size: 16px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.border-0 {
  border: 0;
}

.btn {
  padding: 12px 24px;
}

.btn-primary {
  color: var(--whtie);

  background-color: var(--primary);
}

.bg-white {
  background-color: var(--whtie);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-basic-dark {
  background-color: var(--basic-dark);
}

.bg-primary {
  background-color: var(--primary);
}

.align-center {
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--dark-semi-transparent);
}

.text-white {
  color: var(--whtie);
}

.text-brown {
  color: var(--brown);
}

.text-dark {
  color: var(--dark);
}

.text-34px {
  font-size: 34px;
}

.text-18px {
  font-size: 18px;
}

.text-12px {
  font-size: 12px;
}

.font-neucha {
  font-family: 'Neucha', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  position: absolute;

  /* bottom: 0; */

  /* z-index: -1; */

  width: 100%;

  height: 100px;
}

.video {
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0px;
  /* bottom: 0; */
  right: 0;
  left: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

#navigation > div {
  width: 350px;
}

#navigation div.nav {
  height: 100%;

  padding: 24px;

  background-color: var(--light);
}

footer form a {
  color: var(--whtie);
}

.copyright a {
  color: var(--blue);
}

#navigation a:link {
  color: var(--dark);
  text-decoration: none;
}

#navigation a:visited {
  color: var(--dark);
  text-decoration: none;
}

#navigation a:hover div {
  color: var(--light);
  text-decoration: none;

  background-color: var(--primary);
}

.mb-20 {
  margin-bottom: 20px;
}

.text-light {
  color: var(--light);
}

.nav-header {
  font-size: 52px;
}

#navigation .nav-num {
  padding-bottom: 40px;

  font-size: 64px;
  font-family: 'Neucha', sans-serif;
  line-height: 1em;
}

.text-left {
  text-align: left;
}

.column-span-all > p {
  padding-left: 10px;

  font-weight: bold;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.copyright p {
  margin-bottom: 16px;
}

#navigation p {
  margin-top: 16px;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
  column-width: auto;
}

.column-span-all {
  display: flex;
  align-items: center;
  height: 26px;
  margin-top: 100px;
  margin-bottom: 20px;

  column-span: all;

  /* background-color: var(--brown); */
}

.figure {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.mr-30px {
  margin-right: 30px;
}

.ml-30px {
  margin-left: 30px;
}

.column-break-after {
  break-after: column;
}

.flex-align-center {
  align-items: center;
}

.px-55 {
  padding: 0 55px;
}

.justify-space-between {
  justify-content: space-between;
}

.text-align-left {
  text-align: left;
}

.h-50px {
  height: 50px;
}

.w-70px {
  width: 70px;
}

button {
  position: relative;

  margin: 0;
  padding: 0;
  border: 0;
}

form button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 20px;
  height: 20px;
  margin: auto;

  background: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

input {
  width: 415px;
  margin: 0;
  padding: 15px;
  border: 0;
}

.copyright {
  font-size: 14px;
}
